body {
  font-family: "Roboto", sans-serif; /* из google fonts */
  font-size: 14px;
  color: #0a143a;
} /*  */
.container {
  max-width: 1146px; /* макс ширина */
  margin: auto; /* авто выравн по середине */
}
.header {
  padding: 30px 0;
  margin-bottom: 12px;
}
/*  */
.navbar {
  display: flex; /* делаем блок гибким */
  align-items: center; /* выравнив по вертикали по центру */
  justify-content: space-between; /* разбросать элементы по краям */
  margin-bottom: 24px;
}
/* меню в шапке */
.navbar-menu {
  margin-right: auto; /* автоматич отступ справа */
}

.menu {
  list-style: none; /* отключ точки в списке */
  margin: 0; /* обнуляем отступы */
  padding: 0 22px; /* внутрен отступы */
  display: flex; /* делаем элемент гибким */
}
/* для всех пунктов меню, кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px;
}

.menu-link {
  text-decoration: none; /* отключ подчеркивание ссылок*/
  color: inherit; /* возьми цвет текста как у родителя (body)*/
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primery {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}
.search-panel {
  height: 50px;
  background: #256eeb;
  border-radius: 5px;
  padding: 3px;
  display: flex;
}
.search-input {
  flex-grow: 1; /* растягивается на все свободное место */
  background: #fff;
  border-radius: 5px;
  border: none; /* отключаем обводку */
  padding: 0 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: #fff;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}
.card {
  margin-bottom: 20px;
}
.card:not(:nth-child(3n)) {
  margin-right: 20px;
}
.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.card-link {
  text-decoration: none;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}
.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 5px;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}
